.orange-background{
    background-color: #fec;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: purple;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: chocolate;
}
.cat2{
    background-color: crimson;
}
.cat3{
    background-color: darkblue;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.catagories{
    margin-bottom: 30px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}